<tr>
  <td><strong><%= Spree.t(:"risk.signifyd_score") %>:</strong></td>
  <td class="align-center">
    <% if @order.signifyd_order_score.nil? %>
      <span class="state pending"><%= Spree.t(:"risk.awaiting_score") %></span>
    <% else %>
      <span class="state void"><%= @order.signifyd_order_score.score %></span>
    <% end %>
  </td>
</tr>
